body {
	background: #ececec url(../../assets/ads/wallpaper.png);
	bottom: 0;
	color: #3C3C3C;
	font: 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	left: 0;
	margin: 0 auto;
	min-width: 400px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}

.playerWrap {
	background: url(../../assets/img/player.png);
	height: 121px;
	position: fixed;
	width: 100%;
}

.content {
	height: 100%;
	margin: 0px auto;
	padding-top: 117px;
	width: 990px;
		
	.left {
		background: #fff;
		float: left;
		.box-shadow(0 2px 5px rgba(0,0,0,.25));
		width: 630px;
		min-height: 650px;
		padding: 18px 20px 25px;
		margin-right: 20px;
	}
	
	.right {
		width: 300px;
		height: 100%;
		float: left;
		right: 0;
		padding: 20px 0;
	}
}