<!DOCTYPE html>
<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8">
	{% include_less %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	{% include_js %}
	{% if site.auto %}
		<script src="{{ site.less_js }}"></script>
	{% endif %}
</head>

<body>
	<div class="playerWrap"></div>
	<div class="content">
		<div class="left"></div>
		<div class="right">
			<div class="ad">
				<a href="clickthrough.html" target="_blank">
					<img src="{% asset /assets/ads/sidebar.png %}" />
				</a>
			</div>
		</div>
	</div>
	
	{{ content }}
</body>